

.project-page-container {
  display: flex;
  justify-content: center;
  background: #F6F8F9;
  height: calc(100vh - 71px); 
}

.task-index-container {
  position: relative;
  height: calc(100% - 30px);
  width: 80%;
  min-width: 405px;
  margin: 15px;
  background: white;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.15);
  font-size: 13px;
  overflow: auto;
}

.task-index-header {
  align-items: center;
  background: #fff;
  border-bottom: 1px solid #e0e6e8;
  border-radius: 4px 4px 0 0;
  display: flex;
  justify-content: flex-start;
  flex: 0 0 auto;
  height: 50px;
  padding-left: 30px;
}

.task-index-header .blue-button {
  height: 30px;
  min-width: 50px;
  margin: 0;
}

.task-index-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: 0 0 auto;
}

.task-index-row {
  max-height: 34px;
  align-items: center;
  display: flex;
  padding: 0 30px;
  transition: box-shadow 0s ease-in;
  white-space: nowrap;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
}

.task-index-row:hover {
  cursor: pointer;
  background: linear-gradient(to right, #25e8c8 0%, #32c1ff 34%, #f6f8f9 65% );
  background-size: 300% 100%;
  background-position: right bottom;
  border-bottom: 1px solid #e0e6e8;
}

.task-index-row.success:hover {
  background-position: left bottom;
}

.task-index-row-left {
  width: 100%;
  border-bottom: 1px solid #e0e6e8;
}


.task-index-row form {
  display: flex;
  align-items: center;
  height: 34px;
}

.mark-complete-check-button {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 50%;
  fill: #848f99;
  height: 20px;
  width: 20px;
  margin: 0 10px 0 0;
  background: #fff;
  border: 1px solid #b7bfc6;
}

.mark-complete-check-button svg {
  height: 12px;
  width: 12px;
}

.mark-complete-check-button:hover {
  background-color: #e2fffa;
  border-color: #25e8c8;
  color: #25e8c8;
  fill: #25e8c8;
}

.task-name-input,
.task-name-input:focus,
.task-name-input:hover {
  background-color: transparent;
  color: #151b26;
  height: 16px;
  padding: 0px;
  resize: none;
  display: flex;
  align-items: center;
  line-height: 15px;
  border: none;
  width: 100%;
  outline: none;
  font-family: sans-serif;
  cursor: pointer;
}

.task-name-input:focus {
  cursor: text;
}
/* 
.task-row-assignee-icon .user-circle-button {
  background: #b7bfc6;
}

.task-row-assignee-icon .user-circle-button:hover {
  background: #848f99;
} */

.task-row-assignee-icon .dashed-circle-icon {
  height: 24px;
  width: 24px;
  margin-right: 0;
}

.task-index-row-right {
  position: relative;
  border-bottom: 1px solid #e0e6e8;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.task-row-due-date {
  color: #646f79;
  font-size: 12px;
  margin-right: 5px;
}

.dashed-circle-icon {
  box-sizing: border-box;
  color: #848f99;
  fill: #848f99;
  flex: 0 0 auto;
  font-size: 13px;
  height: 30px;
  line-height: 1;
  transition: 200ms box-shadow,200ms color,200ms background,200ms fill;
  width: 30px;
  background: #fff;
  border: 1px solid #b7bfc6;
  border-radius: 50%;
  align-items: center;
  border-style: dashed;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  margin-right: 10px;
  transition: none;
}

.dashed-circle-icon svg {
  height: 16px;
  width: 16px;
}

.task-index-row-right .dashed-circle-icon {
  width: 24px;
  height: 24px;
  fill: transparent;
  border-color: transparent;
}

.task-index-row:hover .dashed-circle-icon {
  fill: #b7bfc6;
  border-color: #b7bfc6;
}

.task-index-row:hover .task-index-row-left,
.task-index-row:hover .task-index-row-right {
  border-bottom: 1px solid transparent;
}

.success {
  max-height: 0;
  border: none;
  overflow-y: hidden;
  background: linear-gradient(to right, #25e8c8 0%, #32c1ff 34%, #f6f8f9 65% );
  background-size: 300% 100%;
  -webkit-animation: Success 0.5s ease-in-out;
	-moz-animation: Success 0.5s ease-in-out;
	animation: Success 0.5s ease-in-out;
  -webkit-transition: max-height 0.3s ease-in-out 0.4s;
  -moz-transition: max-height 0.3s ease-in-out 0.4s;
  -o-transition: max-height 0.3s ease-in-out 0.4s;
  transition: max-height 0.3s ease-in-out 0.4s;
}

.completed-task.success .task-name-input {
  color: white;
}

.success .mark-complete-check-button,
.success .mark-complete-check-button:hover {
  background: #fff;
  border-color: #25e8c8;
  fill: #25e8c8;
}

.success .user-circle-button,
.success .dashed-circle-icon,
.success  .task-row-due-date {
  display: none;
}

.project-user-icon-placeholder {
  width: 24px;
  height: 24px;
}

@-webkit-keyframes Success {
  from { background-position: right bottom  }
  to { background-position: left bottom }
}

@-moz-keyframes Success {
  from { background-position: right bottom  }
  to { background-position: left bottom }
}

@keyframes Success {
  from { background-position: right bottom  }
  to { background-position: left bottom }
}

.faded-check {
  background: #b2ebe1;
  border-color: #b2ebe1;
  fill: white;
}

.faded-check:hover {
  background: #00bf9c;
  border-color: #00bf9c;
  fill: white;
}

.completed-task .task-name-input {
  color: rgb(169, 169, 169);
}

.completed-task.task-hide,
.incomplete-task.task-hide {
  display: none;
}

#task-index-footer {
  height: 15px;
}

