.project-page-container {
  display: flex;
  justify-content: center;
  background: #F6F8F9;
  min-height: 100vh; 
  overflow: hidden;
}

.task-index-container {
  position: relative;
  min-height: 100vh;
  width: 80%;
  min-width: 405px;
  margin: 15px 15px 0 15px;
  background: white;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.15);
  font-size: 13px;
}

.task-index-header {
  align-items: center;
  background: #fff;
  border-bottom: 1px solid #e0e6e8;
  border-radius: 4px 4px 0 0;
  display: flex;
  justify-content: flex-start;
  flex: 0 0 auto;
  height: 50px;
  padding-left: 30px;
}

.task-index-header .blue-button {
  height: 30px;
  min-width: 50px;
  margin: 0;
}

.task-index-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: 0 0 auto;
}

.task-index-row {
  height: 34px;
  align-items: center;
  display: flex;
  /* overflow: visible; */
  padding: 0 30px;
  transition: box-shadow 0s ease-in;
  white-space: nowrap;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
}

.task-index-row:hover {
  cursor: pointer;
  background: #f6f8f9;
  border-bottom: 1px solid #e0e6e8;
}

.task-index-row-left {
  width: 100%;
  border-bottom: 1px solid #e0e6e8;
}


.task-index-row form {
  display: flex;
  align-items: center;
  height: 34px;
}

.mark-complete-check-button {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 50%;
  fill: #848f99;
  height: 20px;
  width: 20px;
  margin: 0 10px 0 0;
  background: #fff;
  border: 1px solid #b7bfc6;
}

.mark-complete-check-button svg {
  height: 12px;
  width: 12px;
}

.mark-complete-check-button:hover {
  background-color: #e2fffa;
  border-color: #25e8c8;
  color: #25e8c8;
  fill: #25e8c8;
}

.task-index-row textarea,
.task-index-row textarea:focus,
.task-index-row textarea:hover {
  /* line-height: 14px; */
  color: #151b26;
  height: 16px;
  padding: 0px;
  resize: none;
  display: flex;
  align-items: center;
  line-height: 15px;
  border: none;
  width: 100%;
  outline: none;
  font-family: sans-serif;
  cursor: pointer;
}

/* .success-toast {
  background-color: #25e8c8;
  background-image: linear-gradient(to right, #25e8c8, #32c1ff);
} */